*{
    margin:0;
    padding:0;
   
}
body{   
    
    width:100%;
    height:100%;
    background-color: darkgray;
    
}

.container{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
     background-color: #ffffff;
     border-radius: 20px;
     width: fit-content;
    
 }
h1{
    text-align: center;
}
#display{
    height:40px;
    width: 99%;
    border: 1px solid black;
    font-size: 30px;
}

.calculadora{
    
    width:300px;
    margin: auto;

}
.btn-number,.btn-clear,.btn-del,.btn-equal{
    font-size:30px;
    width:3em;   
    border-radius: 100px;
}